.form {
  max-width: 385px;
}

.form__fieldset {
  border: none;
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 0;
}

.form__label {
  font-family: Inter, Arial, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: #000;
  padding: 0 0 8px;
  margin: 0;
}

.form__input {
  box-sizing: border-box;
  border-radius: 4px;
  font-family: Inter, Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
  margin: 0 0 32px;
  padding: 15px 20px;
}

.form__input::placeholder {
  font-family: Inter, Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
  color: #838383;
}

.form__button {
  font-family: Inter, Arial, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  padding: 20px 0;
  margin: 0 0 32px;
  background-color: #1878dc;
  color: #fff;
  border-radius: 4px;
  border: none;
  transition: background-color 0.5s;
}

.form__button:hover {
  background-color: #3f96f3;
  transition: background-color 0.5s;
}

.form__label_type_checkbox {
  display: flex;
  gap: 12px;
  justify-content: center;
  position: relative;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  padding: 0;
}

/* Hide the browser's default checkbox */
.form__checkbox {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.form__checkmark {
  height: 20px;
  width: 20px;
  background-color: #1878dc;
  border: 2px black solid;
  border-radius: 2px;
}

/* When the checkbox is checked, add the checkmark */
.form__label_type_checkbox input:checked ~ .form__checkmark {
  background-image: url("../images/check.svg");
  background-size: 14px 14px;
  background-repeat: no-repeat;
  background-position: center;
}
